.face__btn {
  margin-top: 40px;
  width: 300px;
  height: 70px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background: #c0ac83;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}